

div{
    text-decoration: none;
    color: whitesmoke;
    font-size: 16px;
}


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins';
    background: #060B0E;
}


:root{
scroll-behavior: smooth;

}

.active{
    color: aliceblue;
}

.contenedor{
    width: 90%;
    max-width: 1200;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
    }
    

ul{
    list-style:none;
}

.active{
    color:aliceblue;
}

/*  NAV BAR */



.navbar{
    position:absolute;
    top:0;
    left:0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}

.nav-links{
    display: flex;
    align-items: center;

}

.nav-links a{
    margin:0 30px;
    font-family: 100;
}



/*Menu desplegable vertical*/

.nav-links{
	list-style: none;
	display: flex;
	justify-content: space-around;
}
.nav-links > li > a{
	display: block;
	padding: 15px 20px;
	color: white;
	text-decoration: none;
}
/*.nav-links > li:hover{
	background-color: red;
}*/
.menu-vertical{
	position: absolute;
	display: none;
	list-style: none;
	width: 200px;
	background-color: rgba(6, 16, 20, 1);
}
.nav-links li:hover .menu-vertical{
	display: block;
}
.menu-vertical li:hover{
	background-color: rgba(0, 135, 165, 1)
}

.menu-vertical li a{
	display: block;
	color: white;
	text-decoration: none;
	padding: 15px 15px 15px 20px;
}

/*FIN MENU DESPLEGABLE*/


/* end navbar*/

header{
    width: 100vw;
    height: 65vh;
    background-image: url('../img/imagen_centro.png');
    background-position: bottom;
    background-size: cover;
    background-attachment:  fixed;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

a{
    text-decoration: none;
    color: aliceblue;
}

.header-content{
    margin-bottom: 180px;
    color: white;
    text-align: center;
}

.header-content h2{
font-size: 5.4vmin;
margin-bottom: 40px;
}

.span-text-header{
    color: rgba(54, 201, 169, 1);
}
.line{
    width: 170vmin;
    height: 0.5px;
    background-color: white;
    margin:10px auto;
    margin-top: 10px;
    border-radius: 3px;
}

.menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    cursor: pointer;
    display: none;

}

.icons{
    position:absolute;
    top: 35px;
    right: 50px;
    margin-right: -20px;
    margin-left: 40px;
}
.img-icons{
    margin-right: 25px;
    right: 50px;
    cursor: pointer;

}

.spread{
    transform: translate(0); 
}

.titulo{
    font-size: 60px;
    margin-bottom: 15px;
}

.copy{
    font-weight: 300;
    font-size: 25px;
    
}
.contenedor{
    width: 90%;
    max-width: 1200;
    overflow: hidden;
    margin: auto;
    padding: 40px 0;
    }



/*CONTENIDO*/

.imagen_centro{
    position: absolute;
    top: 90px;
   
}


.imagen_centro h1{

position: absolute;
font-size: 28px;
left: 570px;
top: 250px;
}

.contenedor1{
    align-items: center;
    justify-content: center;
    left: 30%;
}



.arriba_imagen{
position: absolute;
top: 700px;
left: 20px;
width: 500px;
height: 60px;
background: #0A1A2E;
box-shadow: 4px 4px 4px #008BA6;
border-radius: 10px 10px 0px 0px;
}

.arriba_imagen h1{
position: absolute;
font-size: 18px;
left: 30px;

}

.arriba_imagen h2{
    position: absolute;
    font-size: 18px;
    left: 340px;
    
    }

    .ejemplo{
position: absolute;
top: 765px;
left: 25px;

    }

    .informacion_izquierda{

position: absolute;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
top: 700px;
left: 800px;

    }

    .informacion_izquierda h3{

position: absolute;
top: 120px;
left: 20px;
font-size: 18px;

    }

    .informacion_izquierda h4{

position: absolute;
left: 180px;
top: 115px;
font-size: 18px;
color: #00B3A9;
    }

    .pasos{
position: absolute;
top: 155px;
left: 20px;
color: white;

    }

    .pasos h1{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 16px;

    }

    .pasos h2{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 16px;

    }

    .pasos h3{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 16px;
        top: 55px;  
        position: absolute;
        left:0px;
    }


    .pasos h4{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 16px;
        color: white;
        left:0px;
        top: 90px;

    }

    .pasos h5{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 16px;
        top: 125px;
        position: absolute;

    }

    .pasos h6{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 16px;
        top: 135px;
        position: absolute;

    }


    .material_disponible{

 position: absolute;
 top: 1100px;
 left: 800px;

    }

    .material_text{

    position: absolute;
    left: 105px;
    Width: 220px;
    Height:20px;
    top: -6px;
    }

    .material_disponible h1{

        position: absolute;
        top: -12px;
        font-size: 18px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
    }


    .material_disponible h2{

        position: absolute;
        font-size: 14px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        left: 0px;
        top: 40px;
        width: 120px;
     
    }

    .material_disponible button{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        left: 145px;
        top: 20px;
        position: absolute;
        width: 120px;
        height: 30px;
        top: 40px;
        border-radius: 10px;
        background: linear-gradient(180deg, #00BEA9 0%, #0088A5 100%);
        color: white;
        cursor: pointer;
    }


    .descripcion_arriba{

position: absolute;
width: 143px;
height: 5px;
background: #0093A6;
top: 1260px;
left: 410px;
    }

    .descripcion{

        position: absolute;
        color: #008EA6;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
        font-size: 10px;
        top: 1265px;
        left: 425px;
        cursor: pointer;
    }


    .valoraciones{

        position: absolute;
        color:#00B2A8;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
        font-size: 10px;
        top: 1265px;
        left: 700px;
        cursor: pointer;
    }

    .des_primera{

        position: absolute;
        top: 1400px;
        left: 400px;
    }

    .des_primera h1{

        position: absolute;
        top: -30px;
        font-size: 16px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    }

    .des_primera h2{

        position: absolute;
        top: -30px;
        font-size: 16px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
        left: 115px;
        color: #008EA6;
    }

    .des_primera h3{

        position: absolute;
        top: -35px;
        font-size: 16px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
        left: 245px ;
        width: 500px;
    }

    .des_primera h4{
        font-size: 16px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
      
    }

    .des_primera h5{
        font-size: 16px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
      
    }

    .des_segunda{

        position: absolute;
        top: 1490px;
        left: 400px;

    }


    .des_segunda h1{
        font-size: 16px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
      
    }

    .des_segunda h2{
        font-size: 16px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
      
    }

    .des_segunda h3{
        font-size: 16px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
      
    }


    .des_segunda h4{
        font-size: 16px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
      
    }

    .des_segunda h5{
        font-size: 16px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
      
    }

    .des_segunda h6{
        position: absolute;
        top:120px;
        font-size: 16px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
      
    }

    .quizas{

    position: absolute;
    top: 1720px;
    font-size: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    left: 100px;
    }

    .quizas img{

        position: absolute;
        top: 80px;
    }